/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */


html {
    width: 100%;
    font-family: Ariel;
}
body {
    display: block;
    margin: 8px;
    background-color: #fff;
}

.result_table input[type="text"]{
	padding:1px 0px;
	font-size: 12px;
}

.leftNavigation {
  width: 220px;
  text-align: left;
  background-color: #004800;
  color: white;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px gray;
}

#wrap{
	width:1000px;
	margin:5px auto 0;
	background-color: #fff;
	border-radius: 5px;
	position: relative;

	box-shadow: 2px 2px 4px gray;
	display: flex;
}
//* 申請ツール　サイドエリア　*//

#account {
  margin: 0px 5px 20px;

}
nav{
	font-family: "Meiryo";
}
#account table {
  margin: 0px 0  5px 0;
  width: 100%;
  height: 55px;
  text-align: center;
  border-top: 1px solid white;
  border-left: 1px solid white;
}

#account th, #account td {
  font-weight: normal;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 12px;
  color: white;
}

#account button {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  color: #4b4b4b;
}

.leftNavigation span {
  position: relative;
  padding-right: 10px;
  background-color:#004800;
  z-index: 2;
}
.side_label {
  position: relative;
}

.side_label::after {
  position: absolute;
  top: 10px;
  content: "";
  display: block;
  border-top: solid 1px #d8d8d8;
  width: 100%;
  height: 1px;
  z-index: 1;
}

.leftNavigation a:link, .leftNavigation a:visited {
  text-decoration: none;
  color: white;
}

//* テーブル　*//
table {
  border-collapse: collapse;
}

header h4 {
  white-space: nowrap;
  text-align: center;
  margin: 0px;
  font-size: 24px;
  font-weight: 200;
}

header h4 a {
  padding: 5px 5px 25px;
  display: block;
  display: flex;
  /* ←これを指定 */
  align-items: center;
  font-family: 'dasaji';
	font-weight: bold;
}
div.check-group input {
    display: none;
}

div.radio-group label.checked {
    color: #fff;
    background: #C3C3C3;
}
div.radio-group div {
    position: relative;

}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clearfix:before {
　　　　content: "";
	display: block;
	clear: both;
}


div.radio-group input {
    position: absolute;
    left: 0px;
    outline:none;
}

fieldset{
	box-sizing: border-box;
}


.button_bottom{
	font-size:12px;
}
div.radio-group label,#load_template1, #load_template2{
    cursor: pointer;
    padding: 5px 10px;
    float: left;
    border: solid 1px #aaa;
    margin-left: -1px;
    background: #eee;
    box-sizing:border-box;
    height:30px;
    font-size:12px;
}



.result_table,.search_table,.task_table,.kitt_table,.device_table{
	width:100%;
	border:1px solid black;
	font-size:12px;
	white-space: nowrap;
}
.result_table th,.search_table th,.device_table th{
	width:120px;
	border-right:1px solid black;
	border-bottom:1px solid black;
}


th.auto,td.auto{
	width:auto;
	white-space:pre-wrap;
}


.result_table td,.search_table td,.kitt_table td,.task_table td,.device_table td,.report_table td{
	border-right:1px solid black;
	border-bottom:1px solid black;
}


.unselect{
	user-select: none; /* CSS3 */
-moz-user-select: none; /* Firefox */
-webkit-user-select: none; /* Safari、Chromeなど */
-ms-user-select: none; /* IE10かららしい */
}

.top_label{
	border:1px solid gray;
	font-size:14px;
	color:gray;
}

.search_table,.task_table{
	margin-bottom:20px;

}
.task_table td{
	 word-break : break-all;
}
.search_table input,.result_table input,.device_table input{
	width:100%;
	box-sizing: border-box;
	}
ul {
    list-style: none;
    margin:0px;padding:0px;
}
li{
	vertical-align: middle;
}
.process1 ul,.process2 ul,.process3 ul,.process4 ul,.process5 ul,.process6 ul{
	padding:10px 20px;

}

.navbar_menu ul {
    margin: 5px 0 20px 0;
}
.navbar_menu li {
    margin: 0px 0 0px 20px;
    box-sizing: border-box;
    font-size:14px;
}
.navbar_menu li a.double{
display: inline-block;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
    padding: 0 2px;}
#narrow li>div {
    font-weight: bold;
    text-decoration: none;
    font-family: Arial;
    box-shadow: inset #bbc9d4 0px 5px 8px -1px, #637382 0px 1px 0px;
    o-box-shadow: inset #bbc9d4 0px 5px 8px -1px,#637382 0px 1px 0px;
    -moz-box-shadow: inset #bbc9d4 0px 5px 8px -1px,#637382 0px 1px 0px;
    -webkit-box-shadow: inset #bbc9d4 0px 5px 8px -1px, #637382 0px 1px 0px;
    background: #d8e3e8;
    background: -o-linear-gradient(90deg, #d8e3e8, #94aab7);
    background: -moz-linear-gradient( center top, #d8e3e8 5%, #94aab7 100% );
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d8e3e8), color-stop(1, #94aab7) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8e3e8', endColorstr='#94aab7');
    background: -webkit-linear-gradient(#d8e3e8, #94aab7);
    background: -ms-linear-gradient(#d8e3e8, #94aab7);
    background: linear-gradient(#d8e3e8, #94aab7);
    text-indent: 0px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    padding: 13px 13px 13px 13px;
    margin: 2px 0px;
    text-shadow: #d9dde0 0px 1px 0px;
    border-color: #adb4ba;
    border-width: 1px;
    border-style: solid;}
#narrow li div>label {
	display: inline-block;
	vertical-align: middle;
}
#narrow li div>div {
	display: inline-block;
	vertical-align: middle;
}
.tablesorter-default .header,.tablesorter-default .tablesorter-header{background-image:url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);background-position:center right;background-repeat:no-repeat;cursor:pointer;white-space:normal;}.tablesorter-default thead .headerSortUp,.tablesorter-default thead .tablesorter-headerAsc,.tablesorter-default thead .tablesorter-headerSortUp{background-image:url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);border-bottom:#000 2px solid}.tablesorter-default thead .headerSortDown,.tablesorter-default thead .tablesorter-headerDesc,.tablesorter-default thead .tablesorter-headerSortDown{background-image:url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);border-bottom:#000 2px solid}.tablesorter-default thead .sorter-false{background-image:none;cursor:default;padding:4px}.tablesorter-default tfoot .tablesorter-headerAsc,.tablesorter-default tfoot .tablesorter-headerDesc,.tablesorter-default tfoot .tablesorter-headerSortDown,.tablesorter-default tfoot .tablesorter-headerSortUp{border-top:#000 2px solid}
.tablesorter-default td{border-bottom:#ccc 1px solid;padding:0 3px;}.tablesorter-default tbody>tr.even:hover>td,.tablesorter-default tbody>tr.hover>td,.tablesorter-default tbody>tr.odd:hover>td,.tablesorter-default tbody>tr:hover>td{background-color:#fff;color:#000}.tablesorter-default .tablesorter-processing{background-position:center center!important;background-repeat:no-repeat!important;background-image:url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=)!important}.tablesorter-default tr.odd>td{background-color:#dfdfdf}.tablesorter-default tr.even>td{background-color:#efefef}.tablesorter-default tr.odd td.primary{background-color:#bfbfbf}.tablesorter-default td.primary,.tablesorter-default tr.even td.primary{background-color:#d9d9d9}.tablesorter-default tr.odd td.secondary{background-color:#d9d9d9}.tablesorter-default td.secondary,.tablesorter-default tr.even td.secondary{background-color:#e6e6e6}.tablesorter-default tr.odd td.tertiary{background-color:#e6e6e6}.tablesorter-default td.tertiary,.tablesorter-default tr.even td.tertiary{background-color:#f2f2f2}.tablesorter-default>caption{background-color:#fff}.tablesorter-default .tablesorter-filter-row{background-color:#eee}.tablesorter-default .tablesorter-filter-row td{background-color:#eee;border-bottom:#ccc 1px solid;line-height:normal;text-align:center;-webkit-transition:line-height .1s ease;-moz-transition:line-height .1s ease;-o-transition:line-height .1s ease;transition:line-height .1s ease}.tablesorter-default .tablesorter-filter-row .disabled{opacity:.5;cursor:not-allowed}.tablesorter-default .tablesorter-filter-row.hideme td{padding:2px;margin:0;line-height:0;cursor:pointer}.tablesorter-default .tablesorter-filter-row.hideme *{height:1px;min-height:0;border:0;padding:0;margin:0;opacity:0}.tablesorter-default input.tablesorter-filter,.tablesorter-default select.tablesorter-filter{width:95%;height:auto;margin:4px auto;padding:4px;background-color:#fff;border:1px solid #bbb;color:#333;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:height .1s ease;-moz-transition:height .1s ease;-o-transition:height .1s ease;transition:height .1s ease}.tablesorter .filtered{display:none}.tablesorter .tablesorter-errorRow td{text-align:center;cursor:pointer;background-color:#e6bf99}

li.task_exist{
	margin-left:10px;
	padding-left:10px;
	border-radius: 20px;
	background-color: rgba(255,255,255,0.3);
}
span.font_bold{
	font-weight: bold;
	background-color: transparent;
	padding:2px;
}
span.position_right{

	background-color: transparent;
	float: right;
}
.navbar_menu li a{
	display: block;
}
/* || 申請ツール基本設定 */
h3{margin:0;}
h3 label{
	font-size: 10px;

}
#wrap main {
  flex: 1;
  background-color: #e3e2ed;
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 2px 4px gray;
  float:right;
  width:77%;
  padding:10px 10px 10px 10px;
  box-sizing: border-box;
}
#shinsei_wrap{
	margin:0 70px;
}
#shinsei_wrap label{
	font-size:13px;

}
#shinsei_wrap fieldset{
	border-radius: 5px;
	border:none;
	background-color: #fafafa;
	padding: 5px 0 5px 10px;
}
#shinsei_wrap section{
	margin:0 0 20px;
}
#shinsei_wrap section p{
	text-align:center;
	margin:0px;
	font-size:12px;
}
#shinsei_wrap fieldset>div{
	padding:5px 20px 5px 0;
	display:grid;
}
#shinsei_wrap fieldset>div:not(:last-child){
	border-bottom:1px solid #b1b1be;
}
input[type="number"]{
	width:35px;
	font-size:16px;
	font-weight: bold;
}
select{

	font-size:16px;
	font-weight: bold;
}
/* || 見出し操作 */

#shinsei_wrap h3{
	text-align: center;
}
#shinsei_wrap h5{
	margin:0px;
	color:gray;
}
/* || table */
table {
	font-size:12px;
	border-top: 1px solid black;
	border-left: 1px solid black;
}
td,th {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
table select{
	height:100%;
}

/* || 申請ツール新規登録 */

.create_user{
	width:400px;
	margin:26px auto;
}
.create_user_form{
	background: #ebebeb;
    padding: 12px;
}
.create_header{

    padding: 0px;
    margin:0px auto;
    display: flex;
    align-items: center;
    font-weight: normal;

    text-transform: uppercase;
    color: #fff;

}
.create_logo{
	padding:10px;
 display: flex;
    align-items: center;
	background-color: #004800;
	 text-align: center;
}
.create_logo img{
  margin-right: 10px;
}
/* || grid */
.grid{
	display: grid;
}
.grid_wrap ,.grid_wrap2,.grid_wrap3,.grid_wrap4{
    display: grid;
    width:100%;
    box-sizing:border-box;
}
.grid_wrap .card{
	width: 100%;
	grid-column:1/3;
}
.grid_wrap .grid_left{
	width:455px;
    grid-column:1/2;
}
 div.grid_wide{
	grid-column:1/4;
	border:1px solid black;
	padding:2px;
	margin:2px;
	font-size:14px;
}
.grid_wrap .grid_right{
    grid-column:2/3;
}
.g12{ grid-column:1/2;}
.g23{ grid-column:2/3;}
.g24{ grid-column:2/4;}
.g34{ grid-column:3/4;}
.g45{grid-column:4/5;}
.g56{grid-column:5/6;}
.g67{grid-column:6/7;}
.g13{grid-column:1/3;}
.g14{grid-column:1/4;}
.g57{grid-column:5/7;}
.gr12{grid-row:1/2;}
.gr23{grid-row:2/3;}
.gr34{grid-row:3/4;}
.gr45{grid-row:4/5;}
.gr24{grid-row:2/4;}
.gr35{grid-row:3/5;}

/* || 汎用 */
.display_none{
	display:none;
}
.clearfix {
	display: block;
}

.text_right{
	text-align: right;
}
